{% extends "base.html" %}

{% block head_title %}{{ post.title }}s - MAB{% endblock %}

{% block content %}
    <!-- Content Row -->
    <div class="container fill-height">
        <div class="row">
            <div class="col-lg-12">
              <h2>{{ post.hat }}</h2>
              <h1>{{ post.title }}</h1>
              <h4>{{ post.subtitle }}</h4>
              {{ post.author }} | {{ post.posted|date:"d M, Y" }}
              <img src="{{ post.cover_image.url }}">
              {{ post.cover_image.default_caption }} | {{ post.cover_image.author }}
              <p>{{ post.body }}</p>
            </div>
        </div>
    </div>
{% endblock content%}
